body{
    background-color: gray;
    font-family: Arial, sans-serif;
}

h3{
    color: green;
}

.azul{
    color: blue;
}

#rojo{
    color: red;
}

img{
    width: 200px;
    border-radius: 10px;
}

nav{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    padding: 15px;
}